<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayoutCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67A506291BD8C22500AAC04B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A506421BD8C22600AAC04B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A5064D1BD8C22600AAC04B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
